  <li><b>Title:</b>{{item.title}} <b>Amount:</b>{{item.amount}}
    <b>Checked:</b>{{item.checked}}
    <input type="checkbox" (change)="update(item)" [checked] = item.checked>
    <button (click)="update(item)"> Update Item </button>
    <button (click)="delete(item)"> Remove Item </button>
  </li>
