<div style="text-align:center">
  <h1>
    {{ Title1 }}
  </h1>
</div>

<button (click)="add()"> Add to buy item</button>
<br>
<b>-----------------------------------------------------------------</b>
  <b>Common array</b>
<app-to-buy-item-list  (deleteItemList)="remove($event)" (updateItemList)="update($event)" [itemList]="tobuyList"></app-to-buy-item-list>
<br>
<b>-----------------------------------------------------------------</b>
  <b>Checked observable</b>
<app-to-buy-item-list  (deleteItemList)="remove($event)" (updateItemList)="update($event)" [itemList]="tobuyListObservableChecked"></app-to-buy-item-list>
<br>
